html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.table {
  background: green;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  margin: auto;
  height: 350px;
  width: 200px;
  background: white;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid black;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform-style: preserve-3d;
  perspective: 1000px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  height: 100%;
}

.top-suit {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 80px;
}

.bottom-suit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 80px;
}
